.App {
    background-color: #282c34;
    min-height: 80vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 20vh;
}

.StockSelectForm {
    margin-top: 5vh;
}

.HomeCodeReference {
    margin-top: auto;
}

.HomeCodeReference a {
    color: #1976d2;
}

.HomeCodeReference h6 {
    margin-bottom: 20px;
}